include i/head
body
  include i/navbar
  div.container
    div.hidden#tasktoproject
      -for(var i in locals.tasks)
        -if(!locals.tasks[i].archived)
          peterpan.hidden
            span.taskid!= locals.tasks[i].id
            span.taskname!= locals.tasks[i].name
            span.projectid!= locals.tasks[i].project_id
    ul.nav.nav-pills
      li: a(href="#tracktime") Track Time
      li: a(href="#opentimers") Open Timers
      li: a(href="#timerhistory") Time History
    h1 Time Tracker;
    div#tracktime 
      h2 Track Time
        form.form-horizontal#timeform
          p.localstoragewarning.alert.alert-error.hidden Warning: you cannot refresh once you start the timer
          div.control-group
            label.control-label(for="timedate") Project
            div.controls
              input#timedate(type="date",name="timedate",placeholder="Date")
          div.control-group
            label.control-label(for="projectname") Project
            div.controls
              -var ddd = -1;
              select#projectname.input-medium(name="projectname",placeholder="Project Name")
                -for(var i in locals.projects)
                  -if(locals.projects[i].archived){ continue; }
                  -if(ddd == -1){ ddd = locals.projects[i].id; }
                  option(value=locals.projects[i].id)!= locals.projects[i].name
          div.control-group
            label.control-label(for="taskname") Task
            div.controls
              select#taskname.input-medium(name="taskname",placeholder="Task Name")
                -for(var i in locals.tasks)
                  -if(locals.tasks[i].archived){ continue; }
                  -if(locals.tasks[i].project_id == ddd)
                    option(value=locals.tasks[i].id)!= locals.tasks[i].name
          div.control-group
            label.control-label(for="timertime") Current Time
            div.controls
              input#timertime.input-medium(name="timertime",placeholder="Current Time",value="0.00")
          div.control-group
            label.control-label(for="timername") Notes
            div.controls
              textarea#timername.input-medium(name="timername",placeholder="Timer Notes")
          button.btn.btn-block.btn-primary#starttimer(type="submit") Start Timer
          button.btn.btn-block#savetime(type="submit") Save Time
    div#opentimers  
      h2 Time
      div#timerlist
        div.hidden
          h3.timedate $$TIMEDATE$$
          div.span2.hidden.index $$INDEX$$
          div.span2.name $$NAME$$
          div.span2.project $$PROJECT$$
          div.span2.task $$TASK$$
          div.span1.time $$TIME$$
          div.span4 
            button.btn.btn-mini.btn-primary.toggletimer $$ACTION$$ Timer
            span  
            button.btn.btn-mini.btn-success.submittime Submit Time
            span  
            button.btn.btn-mini.btn-danger.deletetimer Remove Timer
    div#timerhistory
      h2 Timer History
        div#history 
    include i/feeter 
